html,
body {
  
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a.disabled {
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

/* depends on what needs to be supported, other option is to https://caniuse.com/?search=line-clamp  */ 
.line-clamp-3{
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box ;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.line-clamp-2{
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box ;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

